<div class="page-container">
  <div class="user-profile">
    <h1>Welcome {{user.username}}</h1>
    <div class="avatar">
      <img src="{{user.avatar}}">
    </div>
  </div>

  {{#each user.favorites}}
  <div class="card shadow-lg p-3 mb-5 bg-body rounded">
        <div class="card-header">
          {{locations}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{company}}</p>
          <form action = "/jobs/{{this.apiId}}" method="GET">
            <button type="submit" class="btn nav-link-dark">Show more</button>
          </form>
          <form action = "/delete-favorite" method="POST">
            <input type="hidden" name="name" value="{{this.name}}">
            <input type="hidden" name="locations" value="{{this.locations.[0].name}}">
            <input type="hidden" name="publication_date_day" value="{{this.publication_date.day}}">
            <input type="hidden" name="publication_date_hour" value="{{this.publication_date.hour}}">
            <input type="hidden" name="apiId" value="{{this.id}}">
            <input type="hidden" name="company" value="{{this.company.name}}">
            <button class = "btn nav-link-dark" type="submit">Delete this job</button> 
        </form>
        </div>
          <div class="card-footer text-muted">
              Date published: {{publication_date_day}}, {{publication_date_hour}}
          </div>
        </div>
  {{/each}}
  <div class="profile-btn">
    <a class="nav-link" href="/logout">LOGOUT</a>
  </div>
</div>