<div class="company-container">
  <div>
    <div id="cimage">
      <img src="{{this.company.refs.logo_image}}" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{this.company.name}}</h5>
      <p class="card-text">{{this.company.description}}</p>
	  <p class="card-text">Size: {{this.company.size.name}}</p>
		<p class ="card-text"> Locations:
			{{#each company.locations}} 
				{{name}}
			{{/each}}
		</p>
			<p class ="card-text"> Industries:
			{{#each company.industries}} 
				{{name}}
			{{/each}}
		</p>
	</div>
    <div class="card-body">
      <a href="/jobs/company/{{company.name}}/1" class="card-link">Job offers from this company</a>
      <a href="{{company.refs.landing_page}}" class="card-link">Landing page</a>
    </div>
  </div>
</div>