<div class="job-container">
  <div id = "job" class="card text-center shadow-lg">
    {{#each this.job.locations}}
    <div class="card-header">
      {{this.name}}
    </div>
    {{/each}}
    <div class="card-body">
      <h5 class="card-title">{{this.job.name}}</h5>
    {{#if this.job.categories}}
      <p class="card-text" id="levels"><b>Category:</b>
      {{#each this.job.categories}}
          {{this.name}}
      </p>
      {{/each}}
    {{/if}}
    <p class="card-text" id="levels">Job level:
    {{#each this.job.levels}}
        {{this.name}}
    </p>
    {{/each}}
    <p class="card-text">{{{job.contents}}}</p>
    <a href="{{this.job.refs.landing_page}}" class="btn btn-x btn-warning btn-md">Apply to this job!</a>

    <form action = "/add-favorite" method="POST">
          <input type="hidden" name="name" value="{{this.job.name}}">
          <input type="hidden" name="locations" value="{{job.locations.[0].name}}">
          <input type="hidden" name="publication_date_day" value="{{this.job.publication_date.day}}">
          <input type="hidden" name="publication_date_hour" value="{{this.job.publication_date.hour}}">
          <input type="hidden" name="apiId" value="{{this.job.id}}">
          <input type="hidden" name="company" value="{{this.job.company.name}}">
          <button class= "btn btn-outline-warning btn-md"type="submit">Save this job for later!</button> 
    </form>
    </div>
    <div class="card-footer text-muted">
      Date published: {{job.publication_date.day}}, {{job.publication_date.hour}}
    </div>
  </div>

  <div id="company" >
    <div id="cimage">
      <img src="{{this.company.refs.logo_image}}" class="card-img-top" alt="logo image">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{this.company.name}}</h5>
      <p class="card-text">{{this.company.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      {{#each company.locations}} 
      <li class="list-group-item">{{this.name}}</li>
      {{/each}}
    </ul>
    <div class="card-body">
      <div id = "otherbuttons" class="otherbutton">
        <a class="nav-link-dark" href="/jobs/company/{{company.name}}/1" class="card-link">Job offers from this company</a>
      </div>
      <div id = "otherbuttons" class="otherbutton">
        <a class="nav-link-dark" href="{{company.refs.landing_page}}" class="card-link">Landing page</a>
      </div>
      <div id="moreinfo">
        <form action = "/company/{{company.id}}" method="GET">
        <button type="submit" class="btn btn-x btn-outline-warning btn-md">More info</button>
        </form> 
      </div>
    </div>
  </div>
</div>